* {
    margin: 0;
    padding: 0;
}

body {
    overflow: scroll;
}

/* Navbar */

.nav {
    height: 55px;
    width: 100vw;
    background-color: #FFF;
    box-shadow: 0px 2px 25px 1px #DDD;
    position: fixed; 
    top: 0;
}


.burger {
    display: flex;
    width: 130px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 10px;
}

.logo {
    width: 65px;
    display: flex;
    align-items: center;
}

.logo svg path {
    fill: #AAA;
}

/* Burger grid icon */

.burger-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/burger.svg');
}

.burger input {
    visibility: hidden;
}

ul {
    display: none;
}

.envelope {
    display: none;
}

.showcase__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 88px;
    text-align: center;

    svg {
        width: 55%;
    }

    p {
        font-family: sans-serif;
        margin-top: 20px;
        letter-spacing: .05em;
        color: #666;
    }
}

@media screen and (min-width: 1025px) {
    .nav {
        height: 47px;
        background-color: #F5F5F5;
    }

    .burger-icon {
        display: none;
    }

    .burger {
        left: 25px;
    }
    
    .logo svg path {
        fill: #000;
    }

    ul {
        display: block;
        list-style-type: none;
    }

    nav ul {
        transform: translateX(-35px);
        display: flex;
        width: 500px;
        margin: auto;

        .nav-link {
            display: flex;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 13px;
            color: #666;
            padding: 1.35em 1.2em;
            letter-spacing: .05em;
        }

        .nav-link:hover {
            background-color: #FFF;
        }

        .expandable::after {
            content: '';
            margin-left: .7em;
            width: 12px;
            height: 12px;
            background-image: url('../assets/arrow-down.svg');
        }
    }

    .envelope {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 35px;

        svg path {
            fill: #CBCBCB;
        }
    }


    .showcase {

        &__header {
            flex-direction: row;
            align-items: space-around;
            font-size: 28px;
            width: 80vw;
            padding: 0 2em;
            margin: 0 auto;
            margin-top: 160px;
            max-width: 1216px;
    
    
            p {
                margin-top: 0;
            }

            &__logo {
                flex: 1;
                min-width: 620px;
                text-align: left;

                svg {
                    width: 25%;
                    margin-left: 1.5em;
                }
            }

            &__desc {
                margin-right: 1em;
            }
        }


    }

}